<h1>StaticPages</h1>

<%= form_with method: 'get' do |form| %>
  <%= form.label :user_id, 'User-id:' %>
  <%= form.text_field :user_id %>
  <%= form.submit 'Search' %>
<% end %>

<% @imgs.each do |url| %>
  <img src=<%= url %>>
<% end %>
